{% extends './base.html' %}
{% load static %}

{% block content %}
    
    <body>
        <style>
            .Questions{
                background-image: url({% static 'store/img/faq.jpg' %});
                padding: 50px 70px;
                font-size: 70px;
                padding-bottom: 30px;
            }
        </style>
    

        <section class="Questions"> 
                <h4><b><u>Frequently Asked Questions On <span>TeVez</span></u></b></h4>
        
                    <h4> Q1. I ordered a wrong size, can I exchange for a different size?</h4>
                    <p>A. We are happy to do an exchange and send you the right size.</p>
                    <h4>Q2. How long would it take for my order to arrive?</h4>
                    <p>A. All orders, are shipped 4-5 vusiness days. Although our team will confirm they've recieved your order first. </p>
                    <h4>Q3. Where are TEVEZ products manufactured?</h4>
                    <p>A. Most of our products are manufactured in, Europe, Nigeria, Italy and Korea.</p>
                    <h4>Q4. How can i track my order?</h4>
                    <p>A. Once your order has been dispatched, you will be notified by our delivery service, you can also track your order on our website.</p>
                    <h4>Q5. What are your operating hours?</h4>
                    <p>A. Our hours of operation have been changed from 9:00am-8:00pm to 5:00am-10:00pm.</p>
                    <h4>Q6. Is TEVEZ strictly for women?</h4>
                    <p>A. Yes, although we do have male sales on special occasions like (Father's day). TEVEZ strictly deals with women clothing</p>
                    <h4>Q7. Do you stock Children's clothing as well?</h4>
                    <p>A. At the moment, we only stock clothing for teenagers and adults. Within this range, we carry extra-small to extra-large sizes</p>
                    <h4>Q8. What if there is a mistake with my order?</h4>
                    <p>A. Do contact us as soon as you recieve your order and we will rectify the mistake as soon as possible</p>
                    <h4>Q9. How can i get items in bulk?</h4>
                    <p>A. By simply adding your desired amount to cart, you can get your items in bulk.</p>
                    <h4>Q10. What are the delivery charges?</h4>
                    <p>A. You can see the shipping fees on the checkout process before payment is made.</p>
                    <h4>Q11. Do you have products in stock?</h4>
                    <p>A. All products shown on our site are available in stock.</p>
                    <h4>Q12. Is VAT charged?</h4>
                    <p>A. If you have VAT number, then VAT is not charged.</p>

        </section>
{% endblock %}