*{
    padding: 10px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
p{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: black;
}
p input{
    font-size: 15px;
    margin: 10px;
    height:35px;
    border: 2px solid black;
}
button{
    font-size: 15px;
    font-weight: 500;
    background-color: purple;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid purple;
    color: white;
    cursor: pointer;
}
